

<div class="card">
    <div class="card-header text-white bg-primary">
        <span><b> {{title}}</b></span>
        

    </div>
    <div class="card-body">
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

    </div>
</div>